<h1>Home</h1>

<%@contact.each do |contact| %>

  <h2>Name: <%=contact.first_name%>
  <%=contact.last_name%></h2>
  
  <div class="well"><h3>Phone#: <%=contact.phone%></h3>
  <h4>Email: <%=contact.email%></h4></div>

<%end%>
